html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding: 1em 0 0;
}

.robot {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
}

.robot-body {
  width: 320px;
  display: block;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 40px;
  right: 130px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 0;
}

.robot-head-right {
  right: 35px;
}

.robot-head-left {
  left: 35px;
}

.robot:hover .robot-head-right {
  right: 0;
  top: -50px;
}

.robot:hover .robot-head-left {
  left: 0;
  top: -50px;
}

.robot:hover .robot-brain {

}
